

services:
  app:
    build: .
    container_name: pets_app
    volumes:
      - .:/var/www/html
    working_dir: /var/www/html

  nginx:
    image: nginx:alpine
    container_name: pets_nginx
    ports:
      - "8000:80"
    volumes:
      - .:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
